
*.exe
*.xlsx#
12 вариант/1/main
12 вариант/2/main
12 вариант/8/main
2 практика/main
проверка ввода/main
11 вариант/7/.vs
11 вариант/8/.vs
server/1lab/target/*
server/2lab/target/*
server/3lab/target/*
server/4lab/target/*
server/5-6lab/target/*
server/7-8lab/app/target/*
statistic/1/__pycache__/*
statistic/2/__pycache__/*
statistic/3/__pycache__/*
optimization/1/__pycache__/*
optimization/2/__pycache__/*
optimization/3/__pycache__/*
*.pyc
