
*.exe
*.xlsx#
12 вариант/1/main
12 вариант/2/main
12 вариант/8/main
2 практика/main
проверка ввода/main
11 вариант/7/.vs
11 вариант/8/.vs
server/1lab/target/*
server/2lab/target/*
server/3lab/target/*
server/4lab/target/*
server/5lab/target/*
