table {
  /* background: #000; */
  border-collapse: collapse;
  width: 100%;
}

td, th {
  background: #fff;
  padding: 5px;
  border: 1px solid #000;
}

table * {
  padding: 4px;
}

table .Direction {
  text-align: center;
}

table .direction, .name, .form {
  text-align: center;
}

table .name {
  background-color: #DEEAF6;
}

table .focus {
  /* text-align: left; */
}

/*----------------------------------------------------------------------------*/
