<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>

        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

        <title>Schools in our university</title>

        <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>

        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular-1.7.5.min.js"></script>
        <script src="js/Recept.js"></script>
        <style>

          html {
            filter: invert(100%);
          }

          body {
            padding-left: 100px;
            padding-right: 100px;
          }

          h1 {
            width: 100%;
            text-align: center;
          }

        </style>

    </head>
    <body ng-app="Recept" ng-controller="ReceptController">

        <h1>Список Рецептов</h1>

        <div ng-controller="getRecept" ng-show="ReceptList.length > 0">
            <table id="schoolsTable" class="table table-hover">
                <thead>
                    <tr>
                        <th><h2>Сложность</h2></th>
                        <th><h2>Название</h2></th>
                        <th>Рецепт</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Recept in ReceptList" id="{{Recept.id}}">
                        <td>{{Recept.dificulty}}</td>
                        <td>{{Recept.name}}</td>
                        <td>{{Recept.body}}</td>
                        <!-- <td><input type="button" value="Редактировать"/></td> -->
                        <td><input type="button" value="Удалить" ng-click="deleteRecept(Recept.id)"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="alert alert-danger" role="alert" ng-show="errormessage">{{errormessage}}</div>

        <div>
            <form role="form" ng-submit="addRecept()">
                <div class="form-group">
                    <label for="inputnumber">Номер</label>
                    <input type="number" class="form-control" id="inputnumber" name="inputnumber"  placeholder="Номер" ng-model="inputnumber"> </input>
                </div>
                <div class="form-group">
                    <label for="inputname">Название</label>
                    <input type="text" class="form-control" id="inputname" name="inputname" ng-model="inputname" placeholder="Название"></input>
                </div>
                <div class="form-group">
                    <label for="inputbody">Рецепт</label>
                    <input type="text" class="form-control" id="inputbody" name="inputbody" ng-model="inputbody" placeholder="Рецепт"></input>
                </div>
                <button type="submit" class="btn btn-default">Добавить</button>
            </form>
        </div>
    </body>
</html>
