
body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,"Apple Color Emoji";
  font-size: 14px;
  line-height: 1.5;
  margin: 0px;
  background-color: var(--bg-color);
}

input, a, p, h1, h2, h3, h4, h5, h6 {
  color: var(--font-color);
  font-style: normal;
  line-height: normal;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.input_style:active, .input_style:hover, .input_style:focus {
  outline: 0;
  outline-offset: 0;
}

.block_select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
