
body {
  background-color: #000;
}

/* -------------------------------------------------------------------------- */

.date {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  text-align: center;
}

/* -------------------------------------------------------------------------- */

div.eyes {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div.eyes > div.eye {
  position: relative;
  display: inline-block;
  /* width: 150px; */
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 30px;
}

div.eyes > div.eye > div.pupil {
  position: absolute;
  background-color: #000;
  left: 40px;
  top: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
