<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О моей интересе к веб-технологиям</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body class="page1">
    <h1>О моём интересе к веб-технологиям</h1>
    <p id="about-me-paragraph">Привет! Меня зовут Никита и я хотел бы поделиться с вами немного информации о себе и моем интересе к веб-технологиям. На данный момент я уже смешарик.</p>
    <hr><br><br>
    <h2>Мои любимые поэты и их произведения</h2>
    <ol>
        <li>
            <a href="poetry.html#pushkin">Александр Пушкин</a>
            <ul>
                <li><a href="poetry.html#onegin">Евгений Онегин</a></li>
                <li><a href="poetry.html#ruslan">Руслан и Людмила</a></li>
            </ul>
        </li>
        <li>
            <a href="poetry.html#esenin">Сергей Есенин</a>
            <ul>
                <li><a href="poetry.html#anna">Сторона ль моя, сторонка...</a></li>
                <li><a href="poetry.html#letter">Письмо к матери</a></li>
            </ul>
        </li>
        <li>
            <a href="poetry.html#tsvetaeva">Марина Цветаева</a>
            <ul>
                <li><a href="poetry.html#poema">Станок</a></li>
                <li><a href="poetry.html#molitva">Молитва</a></li>
            </ul>
        </li>
    </ol>
    <p><a href="../static/отчет.docx" download>Скачать .docx файл</a></p>
</body>
</html>
