<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница со стихотворениями</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body class="page2">
    <h1>Страница со стихотворениями</h1>
    
    <h2 id="pushkin">Александр Пушкин</h2>
    <h3 id="onegin">Евгений Онегин</h3>
    <div class="poem1">Татьяна, Татьяна! Разлитая душа,<br>
    Письма печальных дней моих вечера!<br>
    Ты в аллее густой, в глубоком уборе;<br>
    Пора, пора вставать, пора же заснуть, Таня.</div>
    
    <h3 id="ruslan">Руслан и Людмила</h3>
    <div class="poem2">Зима!.. Крестьянин, торжествуя,<br>
    На дровнях обновляет путь;<br>
    Зима! крестьянин с метлой, с махоркою<br>
    В избу идет, а за ним - смех, и вражда,<br>
    И шутка, и забава тяжкая...</div>

    <h2 id="esenin">Сергей Есенин</h2>
    <h3 id="anna">Сторона ль моя, сторонка...</h3>
    <div class="poem3">Сторона ль моя, сторонка,<br>
    Горевая полоса.<br>
    Только лес, да посолонка,<br>
    Да заречная коса...</div>

    <h3 id="letter">Письмо к матери</h3>
    <div class="poem4">И этот рот,<br>
    И эти глаза…<br>
    Не в этом дело!<br>
    Иной душе мать<br>
    Другое нужно.<br>
    Иной душе мать<br>
    Требуется, мать.</div>

    <h2 id="tsvetaeva">Марина Цветаева</h2>
    <h3 id="poema">Станок</h3>
    <div class="poem5">Мнящейся описки —<br>
    Смысл, короче — всё.<br>
    Ибо нету сыска<br>
    Пуще, чем родство!</div>

    <h3 id="molitva">Молитва</h3>
    <div class="poem6">Не молчи, не молчи! Крикни:<br>
    - Коснулась земля небесной!<br>
    Не молчи, не смолкай: Вселенной<br>
    не подчинен благой и злой.</div>

    <a href="index.html"><img src="../static/img/avatarka.jpg" alt="Вернуться на первую страницу" style="width: 150px;"></a>
</body>
</html>
